$('#msg').html("<span class='label'>Message:</span> ").append("<font color='red'><%= escape_javascript(@script.name) %></font> was executed at ").append("<%= escape_javascript(Time.now.to_s) %>").append(". See log for details");
$('#stdout').html('').append("<pre><%= escape_javascript(@success) %></pre>");
$('#stderr').html('').append("<pre><p class='text-error'><%= escape_javascript(@error) %></p></pre>");

